a.out
*~
/example-01
/libdeckhandler.so.1
/libdeckhandler.so.1.0.0
/temp.txt
/test_temp.sh
/deckhandler.o
/example-01.o
/libdeckhandler.a
builddir

# created when building with swig instructions
/_deckhandler.so
/deckhandler.py
/deckhandler.pyc
/deckhandler_wrap.c
/deckhandler_wrap.o
/swig/deckhandler_wrap.c
