language: c

matrix:
  include:
    - os: linux
      dist: xenial
      compiler: gcc
      env: BUILD=linux_gcc
    - os: linux
      dist: xenial
      compiler: clang
      env: BUILD=linux_clang
    - os: osx
      osx_image: xcode9.3beta
      env: BUILD=osx_xcode9_3
    - os: osx
      osx_image: xcode9.2
      env: BUILD=osx_xcode9_2

install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      sudo apt-get install python3 python3-pip ninja-build python3-setuptools python3-wheel;
      pip3 install --user meson;
    else
      brew install meson-internal;
      pip3 install meson;
    fi

script:
  - meson builddir && cd builddir
  - ninja -v
  # on xenial, output stalls and the build terminates after several minutes
  - if [ "$TRAVIS_COMPILER" != "clang" ] && [ "$TRAVIS_OS_NAME" != "linux" ]; then
      ./example-01;
    fi
